[submodule "moda-interact"]
	path = moda-interact
	url = https://github.com/kodjobaah/moda-interact.git
[submodule "moda-interact-background"]
	path = moda-interact-background
	url = https://github.com/kodjobaah/moda-interact-background.git
[submodule "moda-interact-database"]
	path = moda-interact-database
	url = https://github.com/kodjobaah/moda-interact-database.git
[submodule "moda-interact-messaging"]
	path = moda-interact-messaging
	url = https://github.com/kodjobaah/moda-interact-messaging.git
[submodule "moda-interact-site"]
	path = moda-interact-site
	url = https://github.com/kodjobaah/moda-interact-site.git
[submodule "moda-interact-admin"]
	path = moda-interact-admin
	url = https://github.com/kodjobaah/moda-interact-admin.git
[submodule "moda-interact-shared"]
	path = moda-interact-shared
	url = https://github.com/kodjobaah/moda-interact-shared.git
[submodule "shopify-webhook-payloads"]
	path = shopify-webhook-payloads
	url = https://github.com/kodjobaah/shopify-webhook-downloader.git
[submodule "moda-interact-system-test"]
	path = moda-interact-system-test
	url = https://github.com/kodjobaah/moda-interact-system-test.git
[submodule "moda-interact-gateway"]
	path = moda-interact-gateway
	url = https://github.com/kodjobaah/moda-interact-gateway.git
